In [2]:
umur_a = 15
if umur_a < 17:
    print("a lebih kecil dari 17 tahun") #hanya jln jika True

a lebih dari 17 tahun

## truthy vs falsy

truthy : semua yg bukan falsy itu dianggap true

falsy :
- angka 0 (float, int)
- string "" (text tp tdk ada karaktermya sama sekali, length 0)
- boolean False

In [5]:
x = 12
y = 0

if x > y:
    print("yes, 12 > 5")
    
if y:
    print("y dianggap true")
    
if x:
    print("x dianggap true")

yes, 12 > 5
x dianggap true

In [6]:
if 'hack' in 'hacktiv8':
    print("ada hack di hacktiv8")

ada hack di hacktiv8

In [7]:
a = 'aul'
b = 'grault'

if a in b:
    print("ada ault di grault")

ada ault di grault

In [8]:
if 100 in [100,50,90]:
    print("ada 100 di list ini")

ada 100 di list ini

In [10]:
cuaca_cerah = True

if cuaca_cerah:
    print("keluar rumah")
    print("belanja")
    print("olahraga")

keluar rumah
belanja
olahraga

In [15]:
# nested if, if dlm if
# ana umur 17, blm vaksin, tdk punya penyakit

umur = 15
sudah_vaksin = True
punya_sakit = False

if umur >= 17:
    if sudah_vaksin:
        print("lanjut vaksin ke 2")
    else:
        print("vaksin pertama")
    if punya_sakit:
        print("tdk boleh vaksin krn sedang sakit")
    else:
        print("boleh vaksin")
else:
    print("blm cukup umur")

print("selesai pengecekan")

blm cukup umur
selesai pengecekan

In [19]:
nilai = 80

if nilai > 100:
    print("salah input nilai")
elif nilai > 80:
    print("dapat A")
elif nilai > 60:
    print("dapat B")
elif nilai > 40:
    print("dapat C")
elif nilai > 20:
    print("dapat D")
else:
    print("dapat F")

dapat B

In [20]:
x = 12
y = 0

if x > y:
    print("yes, 12 > 5")

if x > y: print("yes, 12 > 5")

yes, 12 > 5
yes, 12 > 5

In [23]:
if x > y:
    print("x")
    print("lebih besar")
    print("dari y")
    
if x > y: print("x"); print("lebih besar"); print("dari y")

x
lebih besar
dari y
x
lebih besar
dari y

## ternary operator

(kalau true) if (pertanyaan) else (kalau false)

In [24]:
x = 20
y = 15

print("x lebih kecil dari y") if x < y else print("lebih besar")

lebih besar

In [26]:
x = 10
y = 15

print("yang lebih besar adalah", "x" if x > y else "y")

yang lebih besar adalah y

## pass statement

In [28]:
if x > y:
    pass
elif x == y:
    pass
else:
    pass

## While Loop
selama kondisi masih True, statement nya diulang

In [29]:
cuaca_cerah = True

if cuaca_cerah:
    print("jemur baju")

jemur baju

In [30]:
while cuaca_cerah:
    print("jemur baju")
    cuaca_cerah = False

jemur baju

In [31]:
counter = 0

while counter < 16:
    print("ikut kelas", counter)
#     counter = counter + 1
    counter += 1
    
print("diluar while loop")

ikut kelas 0
ikut kelas 1
ikut kelas 2
ikut kelas 3
ikut kelas 4
ikut kelas 5
ikut kelas 6
ikut kelas 7
ikut kelas 8
ikut kelas 9
ikut kelas 10
ikut kelas 11
ikut kelas 12
ikut kelas 13
ikut kelas 14
ikut kelas 15
diluar while loop

In [34]:
counter = 0

while counter < 7:
    print("*" * counter)
#     counter = counter + 1
    counter += 1

*
**
***
****
*****
******

## break and continue

In [41]:
counter = 0
cuti = 8

while counter < 16:
    counter += 1
    if counter == cuti:
        break;
    print("ikut kelas", counter)
else:
    print("tdk ikut kelas lagi")
    
print("selesai")

ikut kelas 1
ikut kelas 2
ikut kelas 3
ikut kelas 4
ikut kelas 5
ikut kelas 6
ikut kelas 7
selesai

In [42]:
counter = 0
skip = 8

while counter < 16:
    counter += 1
    if counter == skip:
        continue; #skip 1 kelas 
    print("ikut kelas", counter)
else:
    print("tdk ikut kelas")
    
print("selesai")

ikut kelas 1
ikut kelas 2
ikut kelas 3
ikut kelas 4
ikut kelas 5
ikut kelas 6
ikut kelas 7
ikut kelas 9
ikut kelas 10
ikut kelas 11
ikut kelas 12
ikut kelas 13
ikut kelas 14
ikut kelas 15
ikut kelas 16
tdk ikut kelas
selesai

## nested while loop

In [48]:
a = 5
b = 3

counter = 0
while counter < a:
    print('counter = ', counter, ', counter < a')
    
    c = 1
    while c < b:
        print('c = ', c, ', c < b')
        c +=1
        
    counter += 1

counter =  0 , counter < a
c =  1 , c < b
c =  2 , c < b
counter =  1 , counter < a
c =  1 , c < b
c =  2 , c < b
counter =  2 , counter < a
c =  1 , c < b
c =  2 , c < b
counter =  3 , counter < a
c =  1 , c < b
c =  2 , c < b
counter =  4 , counter < a
c =  1 , c < b
c =  2 , c < b

## one-line while loop

In [50]:
n = 10
while n >= 0: 
    print(n) 
    n -= 1

10
9
8
7
6
5
4
3
2
1
0

In [51]:
n = 10
while n >= 0: print(n); n -= 1

10
9
8
7
6
5
4
3
2
1
0

## For Loop (collection based)
for item in collection

In [52]:
nilai = [50,90,70,54,65]
for n in nilai:
    print(n)

50
90
70
54
65

In [54]:
buah = {
    'nama' : 'apel',
    'berat (gr)' : 200,
    'warna' : 'merah'
}
for deskripsi_buah in buah:
    print(n)

nama
berat (gr)
warna

In [55]:
for item in buah.items():
    print(item)

dict_items([('nama', 'apel'), ('berat (gr)', 200), ('warna', 'merah')])

In [56]:
for value in buah.values():
    print(value)

dict_values(['apel', 200, 'merah'])

In [65]:
for key in buah.keys():
    print(key)

nama
berat (gr)
warna

In [63]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9